@model IEnumerable<Models.Transaction>
@{
    Layout = "";
}

<p>
    @if (Model == null)
    {
        <div class="alert alert-warning">
            <strong>Warning!</strong> Commisioned Transactions list not initialized!
        </div>
    }
    else if (!Model.Any())
    {
        <div class="alert alert-warning">
            <strong>Warning!</strong> Commisioned Transactions list is empty
        </div>
    }
    else
    {
        <div class="alert alert-success">
            <strong>TODO!</strong> Here I'll show Commisioned Transactions list
        </div>
    }
</p>