@model IEnumerable<PutCoinSimulator.ViewModels.Home.PocketViewModel>
@{
    Layout = "";
}

<p>
    @if (Model == null)
    {
        <div class="alert alert-warning">
            <strong>Warning!</strong> Pockets list not initialized!
        </div>
    }
    else if (!Model.Any())
    {
        <div class="alert alert-warning">
            <strong>Warning!</strong> Pockets list is empty
        </div>
    }
    else
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Owner name</th>
                    <th>Private key</th>
                    <th>Public key</th>
                    <th>Account balance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pocket in Model)
                {
                    <tr>
                        <td>@pocket.OwnerName</td>
                        <td>@pocket.PrivateKey</td>
                        <td>@pocket.PublicKey</td>
                        <td>@pocket.AccountBalance</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</p>
