@model IEnumerable<Models.Transaction>
@{
    Layout = "";
}

<p>
    @if (Model == null)
    {
        <div class="alert alert-warning">
            <strong>Warning!</strong> Unreleased Transactions list not initialized!
        </div>
    }
    else if (!Model.Any())
    {
        <div class="alert alert-warning">
            <strong>Warning!</strong> Unreleased Transactions list is empty
        </div>
    }
    else
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaction in Model)
                {
                    <tr>
                        <td>@transaction.Sender</td>
                        <td>@transaction.Receiver</td>
                        <td>@transaction.Amount</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</p>